.row {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifySpace {
  justify-content: space-between;
}

.itemsCenter {
  align-items: center;
}

.itemsStart {
  align-items: flex-start;
}

.fullWidth {
  width: 100%;
}
