@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}
