@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

@keyframes backgroundAnimation {
  0% {
    background-image: url('./img/strike3.png');
  }
  20% {
    background-image: url('./img/strike2.png');
  }
  40% {
    background-image: url('./img/strike7.png');
  }
  60% {
    background-image: url('./img/strike4.png');
  }
  80% {
    background-image: url('./img/strike5.png');
  }
  100% {
    background-image: url('./img/strike6.png');
  }
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 2rem;
  font-size: 1.2rem;

  @media (min-width: $screen-md-min) {
    height: 3rem;
    padding: 0 4rem;
    font-size: 1.4rem;
  }
}

.back {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  background-color: unset;
  background-image: url('./img/back.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  @media (min-width: $screen-md-min) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.activity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;

  @media (min-width: $screen-md-min) {
    height: 2.5rem;
    font-size: 1.4rem;
  }
}

.zero {
  background-color: $pumping-spice;
}

.delete {
  width: 2rem;
  height: 2rem;
  background-color: unset;
  background-image: url('./img/delete.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  @media (min-width: $screen-md-min) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.done {
  width: 2rem;
  height: 2rem;
  background-color: unset;
  background-image: url('./img/icon_check_hover.png');
  background-size: cover;
  background-position: center;
  border: 1px hidden $translucent-silk;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    border: 1px solid $severely-burnt-toast;
  }

  @media (min-width: $screen-md-min) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  animation: backgroundAnimation 1s infinite;

  @media (min-width: $screen-md-min) {
    width: 15rem;
    height: 15rem;
    margin: 2rem 0;
  }
}

.number {
  margin-bottom: 0.5rem;
  font-family: 'Mulish', sans-serif;
  font-size: 4rem;

  @media (min-width: $screen-md-min) {
    font-size: 5rem;
  }
}

.streekDays {
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}
