@keyframes backgroundAnimation {
  0% {
    background-image: url('./img/strike3.png');
  }
  20% {
    background-image: url('./img/strike2.png');
  }
  40% {
    background-image: url('./img/strike7.png');
  }
  60% {
    background-image: url('./img/strike4.png');
  }
  80% {
    background-image: url('./img/strike5.png');
  }
  100% {
    background-image: url('./img/strike6.png');
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vw;
  margin-bottom: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  animation: backgroundAnimation 1s infinite;
}

.number {
  margin-bottom: 0.5rem;
  font-family: 'Mulish', sans-serif;
  font-size: 4rem;
  font-weight: 500;
}
