@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.updateBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 75%;
}

.amountBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.done {
  border: 1px hidden $translucent-silk;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    border: 1px solid $severely-burnt-toast;
  }

  @media (min-width: $screen-md-min) {
    width: 2.5rem;
    height: 2.5rem;
  }
}
