@import 'src/styles/color.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: self-start;
}

.submit {
  &:hover {
    border: 1px solid $severely-burnt-toast;
  }
}
