@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.changeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  overflow: scroll;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;

  @media (min-width: $screen-md-min) {
    justify-content: center;
    width: 40%;
  }
}

.title {
  margin-bottom: 1rem;
  color: $severely-burnt-toast;
  font-size: 1.2rem;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: $hornblende-green;
  border-radius: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  color: $translucent-silk;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.input {
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  background-color: unset;
  border: none;
  border-bottom: 1px solid $translucent-silk;
  color: $translucent-silk;
  font-size: 1rem;
  font-weight: 700;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.button {
  width: 45%;
  padding: 0.5rem;
  margin-top: 2rem;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border: 1px solid $translucent-silk;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    color: $severely-burnt-toast;
    background-color: $translucent-silk;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.buttonBack {
  color: $translucent-silk;
  background-color: $pumping-spice;
  border: 1px solid $translucent-silk;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    color: $severely-burnt-toast;
    background-color: $translucent-silk;
    border: 1px solid $severely-burnt-toast;
  }

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}
