@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: $spruce-stone;
  border-radius: 10px;

  @media (min-width: $screen-md-min) {
    width: 80%;
  }
}

.title {
  color: $severely-burnt-toast;
  font-size: 1rem;

  @media (min-width: $screen-md-min) {
    font-size: 2rem;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1.8rem;
    column-gap: 5rem;
    width: 80%;
    margin: 2.2rem 0;
  }
}

.activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: min-content;
  padding-right: 0.3rem;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border: none;
  border-radius: 10px;
  text-align: center;

  @media (min-width: $screen-md-min) {
    width: 43%;
    height: 4rem;
    padding: 0 1rem;
    font-size: 1.4rem;
  }
}

.zero {
  background-color: $pumping-spice;
}

.more {
  background-color: $hornblende-green;
}

.nameOfActivity {
  padding: 0.5rem;
}

.timesDone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
}

.buttonDone {
  width: 2rem;
  height: 2rem;
  background-image: url('./img/icon_check.png');
  background-size: cover;
  background-position: center;
  border: 1px solid $translucent-silk;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    background-color: $translucent-silk;
    background-image: url('./img/icon_check_hover.png');
  }

  @media (min-width: $screen-md-min) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.revealForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: $translucent-silk;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;

  @media (min-width: $screen-md-min) {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 3rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 1rem;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border-radius: 10px;

  @media (min-width: $screen-md-min) {
    gap: 1.5rem;
    width: 80%;
    padding: 2rem;
    margin: 2rem 0 3rem 0;
    font-size: 1.4rem;
  }
}

.input {
  margin-left: 1rem;
  width: max-content;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border: none;
  border-bottom: 1px solid $translucent-silk;
  cursor: pointer;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.addActivity {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  width: 45%;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border: 1px solid $translucent-silk;

  &:hover {
    background-color: $translucent-silk;
    color: $severely-burnt-toast;
  }
}
