@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: $spruce-stone;
  border-radius: 10px;

  @media (min-width: $screen-md-min) {
    width: 80%;
  }
}

.title {
  color: $severely-burnt-toast;
  font-size: 1.2rem;

  @media (min-width: $screen-md-min) {
    font-size: 2rem;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1.8rem;
    column-gap: 2rem;
    width: 80%;
    margin: 2.2rem 0;
  }
}

.activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: max-content;
  padding: 0 0.5rem;
  color: $translucent-silk;
  background-color: $pumping-spice;
  border: none;
  border-radius: 10px;
  text-align: center;

  @media (min-width: $screen-md-min) {
    gap: 0.2rem;
    width: 46%;
    height: 4rem;
    padding: 0 1rem;
    font-size: 1.4rem;
  }
}

.completed {
  background-color: $hornblende-green;
}

.summaryInfo {
  display: flex;
  align-items: center;
}

.nameOfActivity {
  padding: 0.5rem;
}

.nameBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 2.5rem;
}

.recordForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.recordInput {
  width: 5rem;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid $translucent-silk;
  border-radius: 2px;

  &:focus {
    outline: 1px solid $translucent-silk;
  }
}

.submitRecordButton {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  background-color: inherit;
  border: 1px solid $translucent-silk;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $translucent-silk;
  }
}

.submitRecord {
  width: 1.5rem;
  height: 1.5rem;
  background-color: inherit;
  background-image: url('./img/check.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url('./img/darkCheck.svg');
  }
}

.plus {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  background-color: inherit;
  border: 1px solid $translucent-silk;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $translucent-silk;
  }
}

.addRecord {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./img/lightPlus.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url('./img/plus.png');
  }
}

.closeForm {
  transform: rotate(45deg);
}

.revealForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: $translucent-silk;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;

  @media (min-width: $screen-md-min) {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 3rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 1rem;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border-radius: 10px;

  @media (min-width: $screen-md-min) {
    gap: 1.5rem;
    width: 80%;
    padding: 2rem;
    margin: 2rem 0 3rem 0;
    font-size: 1.4rem;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

.textField {
  width: 100%;

  @media (min-width: $screen-md-min) {
    width: 48%;
    margin-top: 0.7rem;
  }
}

.error {
  color: $pumping-spice;
  font-size: 1rem;
  padding-top: 1rem;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.addActivity {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  width: 45%;
  color: $translucent-silk;
  background-color: $hornblende-green;
  border: 1px solid $translucent-silk;

  &:hover {
    background-color: $translucent-silk;
    color: $severely-burnt-toast;
  }
}
