.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe9e0;
  color: #230903;
  height: 50px;
  width: 100vw;
  padding: 5px 10px;
  text-align: left;
  font-family: sans-serif, Calibri;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  flex-shrink: 0;
}
