.footer {
  height: 5rem;
  width: 100%;
  background-color: #ffe9e0;
  color: #230903;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  flex-shrink: 0;
}
