@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.labelWrapper {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 2px;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.light {
  border-bottom: 1px solid $severely-burnt-toast;
  color: $severely-burnt-toast;

  &:focus {
    outline: 1px solid $severely-burnt-toast;
  }
}

.dark {
  border-bottom: 1px solid $translucent-silk;
  color: $translucent-silk;

  &:focus {
    outline: 1px solid $translucent-silk;
  }
}
