@import 'src/styles/color.scss';
@import 'src/styles/breakpoints.scss';

.labelWrapper {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $severely-burnt-toast;

  @media (min-width: $screen-md-min) {
    font-size: 1.4rem;
  }
}
